* {
    margin: 0;
    padding: 0;
}

html {
 background-color:#fff; 
 color:#fff; 
 font-family: "Fira Sans";
 font-size: 20px;   
 text-rendering: optimizeLegibility;
 scroll-behavior: smooth;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

}

header{
min-height: 100vh;
background-color: #222831;
background-size: cover;
background-position: center;
background-repeat:no-repeat;
}

.navbar{ 
    background-color:transparent;
    opacity: 0.8;
    
}

.navbar-nav {
    margin-right: 40px;

}

.navbar .navbar-nav .nav-link{
    margin-right: 10px;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#f5f5F5;
} 

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:active  {
    color:#f04e98; 
    border-bottom:5px solid #f04e98;
    transition: 0.9 ease;
    text-decoration: none;
}
.logo {
    margin-left: 50px;
}

h2 {
    color: #f5f5f5;
}
.container {
    width: 20rem;
}
.card-body {
    margin:0 auto;
    width: 20rem;
    font-size: 20px;
    font-weight: 700;
}
